.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    color: var(--branco);
    background: url(../../img/Pesquisa.svg) no-repeat;
    background-position: 1.5em;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 9.5em;
    }
}

@media screen and (min-width: 1728px) {
    .banner {
        padding: 6em 0;
    }

    .banner__pesquisa {
        width: 35%;
        padding-left: 5em;
    }

    .banner__pesquisa::placeholder {
        background-position: 9em;
    }
}