.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em 0.5em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__estrelas {
    margin-bottom: 0.5em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;    
}

.descricao__titulo--livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.descricao__imagem {
    margin-left: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    align-self: center;
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1em 2.2em;
    text-decoration: none;
}

.botoes__ancora:active {
    background-color: var(--azul);
}

@media screen and (min-width: 1024px) {
    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .card {
        width: 60%;
        margin-left: 3em;
    }

    .descricao {
        margin-right: 1em;
    }
    
    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }

}