.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.7em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        align-items: center;
        display: flex;
        margin: 0 20vw 3em 20vw;
    }

    .swiper {
        width: 80%;
    }
    
    .swiper-pagination {
        margin: 1em 0;
    }

}