.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    color: var(--branco-principal);
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    color: var(--branco-principal);
    font-size: 32px;
}