.rodape {
    text-align: center;
    margin: 8em 10em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 0;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1em;
    transition: 0.3s ease-in-out;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: green;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}