.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}