@import url("header/header.css");
@import url("header/lista-menu.css");
@import url("corpo/banner.css");
@import url("corpo/carrossel.css");
@import url("corpo/card.css");
@import url("corpo/topicos.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;

    --fonte-principal: 'Poppins';
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}